<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Students</title>
</head>
<body>

<h2>Please insert the new students details.</h2>

<form action="" method="post" enctype="multipart/form-data">

    <input type="text" placeholder="Enter name"> <br><br>

    <input type="number" placeholder="Enter phone no."> <br><br>

    <input type="email" placeholder="Enter email"> <br><br>

    <input type="file"> <br><br>

    <input type="submit" value="Submit">


</form>


</body>
</html>